n8n_agent_to_take_data_from_NASA_and_MakeMailFromGmail_to_people.json
{
  "name": "n8n_agent_to_take_data_from_NASA_and_MakeMailFromGmail_to_people",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "d8e4c671-ba97-4b34-b8f0-397c94d3730b",
      "name": "When chat message received",
      "webhookId": "d94ec67c-9297-4044-84de-3da2b88162b4"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "7439dff3-5713-414f-9e61-067174334dcc",
      "name": "AI Agent",
      "retryOnFail": true,
      "notesInFlow": true,
      "maxTries": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -20,
        200
      ],
      "id": "043d4ee5-d063-4edc-af70-56eb75ece9c4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "bI182txiPn0sDRq3",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        220,
        220
      ],
      "id": "3ba27b92-a507-4cd4-b6f5-a7745c89f3e9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "rishirajbal384@gmail.com,iamdc2003@gmail.com",
        "subject": "space",
        "emailType": "text",
        "message": "= {{ $json.output.text }}",
        "options": {
          "senderName": "Rishi"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        580,
        0
      ],
      "id": "d6fd1220-3bfb-4001-8a63-1f5555450423",
      "name": "Send a message",
      "webhookId": "4aef958c-75ff-4b7c-aa98-087e669e16ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "Nd7OLj00RtSKit22",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"output\": {\n    \"to\": \"rishirajbal384@gmail.com\",\n    \"subject\": \"Mars & Space Update from NASA\",\n    \"body\": \"Hi Rishi,\\n\\nHere’s today’s NASA update:\\n\\n• Mars rover Perseverance has discovered further evidence of ancient water activity in Jezero Crater.\\n• Today's Astronomy Picture of the Day is a stunning composite of the Pleiades star cluster.\\n\\nStay tuned for more space vibes 🌌\\n\\n— Your AI Space Buddy 🚀\",\n    \"attachments\": [],\n    \"priority\": \"normal\",\n    \"metadata\": {\n      \"generated_by\": \"NASAInfoAgent\",\n      \"timestamp\": \"2025-06-27T04:30:00Z\"\n    }\n  }\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        460,
        220
      ],
      "id": "76210429-a41a-4c94-ad0d-5c83b688d410",
      "name": "Structured Output Parser",
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        520,
        380
      ],
      "id": "66ad92e7-6176-4f5a-b2ec-2560d215de39",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "bI182txiPn0sDRq3",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.nasaTool",
      "typeVersion": 1,
      "position": [
        320,
        300
      ],
      "id": "00827d79-33e7-4f89-b0d2-2256f409167e",
      "name": "Get the astronomy picture of the day in NASA",
      "credentials": {
        "nasaApi": {
          "id": "jkOHqRonYQvPAw74",
          "name": "NASA account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get the astronomy picture of the day in NASA": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd5d3065-9249-47f9-9301-3f45ee9f6423",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f4f4635600bbaa8438fcc2a0ba3de673a08b820ca61c8109616ea2ca8ba1838"
  },
  "id": "vXjTGZ1CsVXrdP7M",
  "tags": []
}