n8n_agent_to_take_data_from_NASA_and_MakeMailFromGmail_to_people.json
{
  "name": "n8n_agent_to_take_data_from_NASA_and_MakeMailFromGmail_to_people",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "d8e4c671-ba97-4b34-b8f0-397c94d3730b",
      "name": "When chat message received",
      "webhookId": "d94ec67c-9297-4044-84de-3da2b88162b4"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -160,
        420
      ],
      "id": "3ba27b92-a507-4cd4-b6f5-a7745c89f3e9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "rishirajbal384@gmail.com,iamdc2003@gmail.com",
        "subject": "space",
        "emailType": "text",
        "message": "={{ $json.output.body }}",
        "options": {
          "senderName": "Rishi"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        580,
        20
      ],
      "id": "d6fd1220-3bfb-4001-8a63-1f5555450423",
      "name": "Send a message",
      "webhookId": "4aef958c-75ff-4b7c-aa98-087e669e16ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "Nd7OLj00RtSKit22",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"output\": {\n    \"to\": \"deepkumar9124@gmail.com\",\n    \"subject\": \"Invitation to Apply: Aether-X Technologies Internship in Collaboration with NASA\",\n    \"body\": \"Dear Deep Kumar,\\n\\nI hope this message finds you well.\\n\\nMy name is Rishi, and I am part of the Human Resources team at Aether-X Technologies. I am pleased to inform you that, as part of our strategic collaboration with NASA, we are offering exclusive internship opportunities for selected students with strong academic and technical backgrounds.\\n\\nThe internship program will provide you with direct exposure to cutting-edge research and development in aerospace technology, satellite telemetry analysis, and quantum systems integration for next-generation space missions. You will have the opportunity to contribute to real-time research projects alongside engineers from both Aether-X Technologies and NASA.\\n\\nKey benefits of this program include:\\n- Mentorship from experienced engineers and researchers at Aether-X Technologies and NASA\\n- Competitive stipend and on-site accommodation for the duration of the internship\\n- Opportunity to co-author technical research papers and attend international space technology conferences\\n- Consideration for full-time positions within Aether-X Technologies’ core research and development division upon successful completion of the internship\\n\\nTo be considered for this program, please complete the following application form at your earliest convenience:\\nhttps://docs.google.com/forms/d/e/1FAIpQLScycvYWpEkQLA48MHw3OSY6KEC52HLXZIAqtQ3VveEEiQViww/viewform?usp=header\\n\\nPlease ensure that you submit the form by the end of this week to be eligible for the current selection cycle.\\n\\nWe look forward to reviewing your application and potentially welcoming you to Aether-X Technologies.\\n\\nBest regards,\\n\\nRishi\\nHuman Resources Department  \\nAether-X Technologies\",\n    \"attachments\": [],\n    \"priority\": \"high\",\n    \"metadata\": {\n      \"generated_by\": \"AetherX_HR_Agent\",\n      \"timestamp\": \"2025-06-27T06:00:00Z\"\n    }\n  }\n}\n\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        340,
        280
      ],
      "id": "76210429-a41a-4c94-ad0d-5c83b688d410",
      "name": "Structured Output Parser",
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        380,
        460
      ],
      "id": "66ad92e7-6176-4f5a-b2ec-2560d215de39",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "bI182txiPn0sDRq3",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.nasaTool",
      "typeVersion": 1,
      "position": [
        0,
        460
      ],
      "id": "00827d79-33e7-4f89-b0d2-2256f409167e",
      "name": "Get the astronomy picture of the day in NASA",
      "credentials": {
        "nasaApi": {
          "id": "jkOHqRonYQvPAw74",
          "name": "NASA account"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "15e33f46-eaa0-448d-92c1-02fb8927a880",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        240
      ],
      "id": "0914b93b-039e-4096-a1ac-479b4649e554",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NAkzLe6AHNgbVaEw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get the astronomy picture of the day in NASA": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5f28800-4e35-489f-befc-e97e7d38931f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f4f4635600bbaa8438fcc2a0ba3de673a08b820ca61c8109616ea2ca8ba1838"
  },
  "id": "vXjTGZ1CsVXrdP7M",
  "tags": []
}