RAG_pipeline_to_chatbot_using_google_drive_and_pinecone.json
{
  "name": "RAG_pipeline_to_chatbot_using_google_drive_and_pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1B5kgy6KdOYO9srM-Zys7ibSRAtLDZUqe",
          "mode": "list",
          "cachedResultName": "n8n_rag",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1B5kgy6KdOYO9srM-Zys7ibSRAtLDZUqe"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "11fb8ebe-0104-412a-99ef-12854db5f95b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KXhnJ3ZjxDaEny4z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "3c6dccce-1be3-4017-a3c9-807ab2638c47",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KXhnJ3ZjxDaEny4z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rishi",
          "mode": "list",
          "cachedResultName": "rishi"
        },
        "embeddingBatchSize": 300,
        "options": {
          "pineconeNamespace": "rishione"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        440,
        0
      ],
      "id": "9c2a13a4-09a3-4617-8995-879ae5cb8706",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "lDunwWKdH9qfxJ65",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        580,
        220
      ],
      "id": "787af35d-9dd6-444e-89e4-9a5efa205ad3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        680,
        331.2903225806452
      ],
      "id": "42034f9b-36a6-43e1-bdab-e0a51ad329ac",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        300,
        220
      ],
      "id": "468df8a6-ea1c-42d8-8f61-fad86640aa47",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "VnVSmykIrtdJAhaX",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1300,
        0
      ],
      "id": "ed08d304-0131-4137-8a25-97a88def2589",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1000,
        -20
      ],
      "id": "961fa6f8-c5e4-4883-b30d-96c8cd95b667",
      "name": "When chat message received",
      "webhookId": "43a99ab0-b3a5-49e6-8f7a-8d7862298656"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1300,
        160
      ],
      "id": "f39df930-4704-4c36-adfe-408e0276213b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NAkzLe6AHNgbVaEw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retreive the information from the rishione namespace",
        "pineconeIndex": {
          "__rl": true,
          "value": "rishi",
          "mode": "list",
          "cachedResultName": "rishi"
        },
        "options": {
          "pineconeNamespace": "rishione"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1700,
        200
      ],
      "id": "e560e071-67be-420a-ab8e-46f592ff9625",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "lDunwWKdH9qfxJ65",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        1800,
        420
      ],
      "id": "2a70d91c-b2ab-47a6-b016-3d29f216b95c",
      "name": "Embeddings Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "VnVSmykIrtdJAhaX",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1460,
        280
      ],
      "id": "642a8e55-cd31-459c-99d3-30778bc36da3",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b0801711-ac5e-4284-9a3c-0ab28855b1a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f4f4635600bbaa8438fcc2a0ba3de673a08b820ca61c8109616ea2ca8ba1838"
  },
  "id": "Lo1bNmRqgD3s5zn3",
  "tags": []
}